RABBITMQ_HOST=should be you machine ip if you are running this service in docker(because of the network isolation of docker container)
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
PORT=3001
TEST_REPO_URL=https://github.com/nully0x/test-repo
TEST_REPO_BRANCH=main
TEST_REPO_PATH=tests
